<div class="card" style="width: 60%; padding: 10px; margin: auto;">
    <img src="{{ News.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text"><b>{{News.author}}</b></p>
      <p class="card-text text"><b>{{ News.title }}</b></p>
      <p class="card-text" >{{ News.content }}</p>
      <p class="card-text">{{ News.description }}</p>
      <p class="card-text">{{ News.publishedAt }}</p>
      <a href="#" class="btn btn-primary" style="width: 100px; align: center;">Go Back</a>
    </div>
  </div>   